<html>
    <head>
        <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Erro 500</title>

        <link type="text/css" rel="stylesheet" href="../static/css/500.css" />
    </head>
    <body>
        <div class="wrapper">
            <div class="box">
                <h1>Erro Interno</h1>
                <p>Alguma coisa quebrou. Vamos trabalhar nisso.</p>
                <p>&#58;&#40;</p>
                <p><a href="/">Voltar para a Página Inicial do Food Finder</a></p>
            </div>
        </div>
    </body>
</html>

